.bg-navy{
  background-color: #24353f;
}
.h-100vh{
  height: 100vh;
}
.box-shadow1{
box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);

}
.text-lightBlue{
  color:#17a2b8
}
input{
  background-color: transparent !important;
  color: #fff !important;
}
input::placeholder {
  color: rgb(182, 182, 182) !important;
 
}

input:focus {
  box-shadow: 0 0 0 0 transparent !important;
}